@page
@model IndexModel
@{
    ViewData["Title"] = "Shop Page";
}

@foreach (var product in Model.ProductsList)
{

 

        <p>
            <div class="card col-3" style="width: 40rem;">
                <img src="./img/@product.ImgFileName" />
                <p>@product.Cost Euro</p>
                <p>@product.Name</p>
                <p>@product.ID</p>
                <br />
            </div>
        </p>
    

}